<div class="window">
        <img class="image-window" src="/images/{{image}}">
        <h1 class="caption-window">{{name}}</h1>
        <h4 class="address-window">{{address}}</h4>
        <p class="date-window">Дата: <b>{{date}}</b></p>
        <p class="time-window">Время: <b>{{time}}</b></p>
        <a href="/cart/{{id}}"><button class="button-window">Подробнее</button></a>
</div>